<div class="preview">
  <p>Esto es una previsualicación del formulario para que conozcas las preguntas del cuestionario.
    Por favor, <%= link_to 'entra', login_path %> o <%= link_to 'regístrate', new_user_path %> para poder completar el tuyo propio.</p>
  <p><br/>Más información sobre el cuestionario <%= link_to 'aquí', root_path  %></p>
</div>