
<div class="container">
  <div class="column-1">

    <% form_for @survey do |form| %>
      <p>
        <label>&nbsp;</label>
        <%= form.submit "Guardar" %>
      </p>
    <% end %>
  </div>
</div>
