<%= title t(:title) %>

<table>
  <thead><tr>
    <td><%= t(:username) %>
  </tr></thead>
  <% @users.each do |user| %>
    <tr class="<%=  cycle('even', 'odd') %>">
      <td><%= link_to h(user.username), user_path(user) %></td>
    </tr>
    <% end %>
</table>