
<div class="about">
  <%= title t(:title) %>

  <p><b>Bienvenidxs al cuestionario de Reu08. Aquí tienes algunas indicaciones:</b></p>
  <ol>
    <li>
      Siéntete absolutamente libre para responder el cuestionario, si hay preguntas que no te gustan o no te apetece
      responder, no lo hagas. Si quieres agregar, comentar, criticar o sugerir posibles correcciones o ideas, hazlo.
    </li>
    <li>
      Para acceder al cuestionario es condición indispensable registrarse, esto garantiza y protege el acceso a tu
      información, y si así lo deseas mantenerte informadx del proceso de la coinvestigación y de eventos, talleres
      y propuestas relacionadas con la misma. Tus datos no irán a parar a ninguna empresa o institución ajena al
      proyecto fuera del contexto de esta coinvestigación.
    </li>
    <li>
    Los datos que se extraigan de este cuestionario serán utilizados de dos formas:
    <ul>
      <li>
        La primera es anónima, a través de estadísticas, gráficos y análisis de la información que acabarán
        reflejando los datos agregados y cuyos resultados nos comprometemos a publicar en los soportes que estén
        a nuestro alcance y que esperamos nos ayuden a esclarecer quién está detrás de la cultura.
      </li>
      <li>
        La segunda posibilidad, <%= link_to 'si decides aparecer', edit_user_path(:current) %> , es tratar de poner al servicio del común la información
        recabada en el bloque de Presentación, con la idea de generar una cartografía progresiva del territorio andaluz
        que permita visibilizar los nodos de esta coinvestigación  y posibilite trazar alianzas, complicidades, redes
        y encuentros de todo tipo con otrxs que están en situación similar para poder pensar nuestra situación de forma
        conjunta.
      </li>
    </ul>

    <li>
      Ten presente que además del cuestionario pretendemos hacer entrevistas abiertas y grupos de discusión,
      de modo que si te apetece profundizar o entrarle a los temas planteados con mayor complejidad o intimidad
      <%= link_to 'no dudes en hacérnoslo saber', feedback_path %> .
    </li>
    <li>La marca x que aparece en lugar de la tradicional distinción genérica a/o, alude a lo que
      consideramos una perentoria necesidad: evidenciar cuestiones abiertas en relación a la identidad sexual
      y las consecuencias derivadas con respecto a las limitaciones vitales de lxs sujetxs, o bien, a las
      posibilidades existenciales que se puedan generar, al proponer la cuestión como incógnita a desplegar,
      o como ámbito de trabajo y reflexión conjunta que delibere sobre la legitimidad de lo neutro-masculino,
      como mediador simbólico de la semántica cultural.
    </li>
  </ol>


  <p>Os invitamos a colaborar en <b> <i>Quién está detrás de la cultura</i> </b> para hacer más complejo y profundo
  el proceso de reconocimiento y puesta en común de las situaciones en las que nos encontramos.</p>
</div>
